BasedOnStyle: Google
Standard: c++17
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -1
NamespaceIndentation: None
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
BinPackArguments: true
BinPackParameters: true
SortIncludes: false
IncludeBlocks: Preserve
